.w990{
	width: 990px;
	margin: 0 auto;
}
body{
	background:url(../img/body_bg.jpg) -30px 497px repeat-x;
}
.c1{
	width: 100%;
	height: 497px;
	background: url(../img/top_bg.jpg) top center no-repeat;
	min-width: 960px;	
}
.nav_top{
	margin: 0 auto;
	position: relative;
	top:374px;
	height: 123px;
	background: url(../img/nav_bg.jpg) top center no-repeat;
}
.ul_fllow{
	padding-left: 37px;
	margin-right: 30px;
	background: url(../img/icon1.jpg) -64px 0px no-repeat;
	float: right;
	height: 32px;
}
.ul_fllow li{
	width: 90px;
	height: 26px;
	float: left;
	background: url(../img/icon1.png) no-repeat;
	margin-top: 8px;
}
.ul_fllow li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.ul_fllow .add_follow{
	background-position: 0 -37px;
}
.ul_fllow .add_web{
	background-position: 0 -63px;
}
.nav_bar{
	width: 624px;
	height: 40px;
	background: url(../img/nav_bar.png) no-repeat;
	float: right;
	clear: right;
	margin:8px 20px 0 0;
}
.nav_bar li{
	float: left;
	width: 117px;
	height: 32px;
}
.nav_bar li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.nav_bar .large_li{
	width: 136px;
}
.nav_bar .middle_li{
	width: 122px;
}
.nav_bar .small_li{
	width: 110px;
}
/**/

/*c2*/
.c2{
	height: 452px;
	background: url(../img/c_bg.png) repeat;
}
.c2_l1{
	width: 295px;
	height: 398px;
	margin-top: 10px;
	margin-right: 19px;
	margin-left: 39px;
	float:left;
	background: url(../img/photo_bg.jpg) repeat;
}
.c2_wrap{
	padding-top: 7px;
	padding-left: 9px;
	float: left;
}
.c2_l1_c1{
	width: 279px;
	overflow: hidden;
}
.c2_l1_photo{
	width: 2000em;
	height: 358px;
	overflow: hidden;
	position: relative;
}
.c2_l1_photo li{
	float: left;
}
.c2_l1_nav{
	text-align: center;
	overflow: hidden;
	margin-top: 2px;
}
.c2_l1_nav a{
	display: inline-block;
	width: 7px;
	height: 7px;
	background: url(../img/icon2.png) -16px -81px no-repeat;
}
.c2_l1_nav .active{
	background-position: -1px -81px;
}
.c2_r1{
	float: left;
	width: 620px;
	height: 416px;
}
h1{
	width: 622px;
	height: 112px;
	background: url(../img/h1_bg.jpg) no-repeat;
	position: relative;
	z-index: 999;
	text-indent: -99999px;
	margin-top: -36px;
}
.c2_list{
	width: 274px;
	height: 140px;
	font-family: "宋体";
	font-size:14px;
	color: #628798;
	float: left;
}
.c2_list{
	margin-right: 35px;
}
.c2_list a{
	font-size:14px;
	color: #628798;
}
.c2_list dt{
	color: #52caed;
	font-size: 20px;
	margin-bottom: 9px;
	background: url(../img/icon2.png) 103px 5px no-repeat;
	text-indent: 11px;
}
.c2_list dd{
	background: url(../img/icon2.png) 0px -21px no-repeat;
	padding-left: 14px;
}
.c2 .video{
	float: left;
}
/*c2-end*/
/*c3*/
.c3{
	background: url(../img/c_bg.png) repeat;
	height:632px;
	padding-left: 15px;
	width: 974px;
}
h2 {
	width: 905px;
	height: 164px;
	background: url(../img/h1_bg.jpg) 0 -111px no-repeat;
	margin-left: 35px;
}
.c3_1{
	height: 335px;
	margin-left: 35px;
	margin-top: -79px;
}
.c3_1_title{
	text-align: right;
	font-size: 18px;
	margin-right: 69px;
	margin-bottom: 5px;
	background:url(../img/icon2.png) 772px -227px no-repeat;
}
.c3_1_title a,.c3_3_title a{
	color: #8ecfe3;
}
.c3_2{
	height: 190px;
}
.c3_2_l{
	width: 212px;
	height: 160px;
	margin-top: 20px;
	float: left;
	margin-right: 15px;
}
.c3_2_l h3{
	margin-bottom: 3px;
	color: #52caef;
}
.c3_2_l p{
	line-height: 24px;
	color:#628798;
	margin-bottom: 25px;
}
.c3_2_l .fr{
	color:#52caef;
}
.c3_2_c{
	float: left;
	margin-right: 0px;
	width: 185px;
	height: 200px;
}
.c3_2_r{
	float: left;
	height: 190px;
	overflow: hidden;
	position: relative;
	width: 493px;
}
.c3_2_list,.c3_3_list{
	position: relative;
	overflow: hidden;
	zoom: 1;
	width: 2000em;
}
.c3_2_list ul{
	float: left;
	margin-right: 15px
}
.c3_2_list li{
	width: 135px;
	float: left;
	margin-right: 7px;
	text-align: center;
}
.c3_2_list li a,.c3_3_list li a{
	font:12px 宋体;
	color: #628798;
}
.c3_2_list li img,.c3_3_list li img{
	margin-bottom: 5px;
	border: 1px solid #e3ebf0;
}
.c3_2_r .arrow{
	width: 487px;
	height: 65px;
	position: absolute;
	top: 51px;
	left: 9px;
}
.c3_2_r .arrow a,.c3_3 .arrow a{
	background: url(../img/icon2.png) no-repeat;
	position: absolute;
	height: 100%;
	width: 20px;
}
.c3_2_r .arrow .left,.c3_3 .arrow .left{
	left: 0;
	background-position: 0 -95px;
}
.c3_2_r .arrow .right,.c3_3 .arrow .right{
	right: 0;
	background-position: 0 -160px;
}
#gd2{
	overflow: hidden;
	margin-left: 41px;
	width: 425px;
}
.c3_3{
	position: relative;;
	margin-top: 21px;
}
.c3_3_title{
	text-align: left;
	font-size: 18px;
	background: url(../img/icon2.png) 0 3px no-repeat;
	padding-left: 28px;
	margin-bottom: 11px;
}
.c3_3_list li{
	float: left;
	margin-right:22px;
	text-align: center;
	width: 195px;
	height: 243px;
	position: relative;
}
.c3_3 .arrow {
	width: 923px;
	height: 65px;
	position: absolute;
	top: 94px;
	left: -9px;
}
.c3_3_list .num{
	position: absolute;
	top: 9px;
	left: 9px;
	background: url(../img/icon2.png) 0 0 no-repeat;
	display: inline-block;
	width: 40px;
	height: 10px;
}
.c3_3_list .num1{
	background-position: 0 -253px;
}
.c3_3_list .num2{
	background-position: 0 -268px;
}
.c3_3_list .num3{
	background-position: 0 -285px;
}
.c3_3_list ul{
	float: left;
}
#gd3{
	width: 853px;
	overflow: hidden;
	margin-left: 27px;
}
/*c3_end*/
/*c4_begin*/
.c4{
	background: url(../img/c_bg.png) repeat;
}
.c4_1{
	width: 960px;
	margin: 0 auto;
	height: 315px;
	background: url(../img/c41_bg.jpg) repeat;
	padding-top: 122px;
}
.c4_1_l{
	float: left;
}
.c4_1_l{
	margin-top: 40px;
}
.c4_1_l p{
	width: 205px;
	height: 209px;
	line-height: 24px;
	color:#628798;
	margin-left: 52px;
}
.c4_1_l a,.c5_1_1_r a,.c5_2_1_r a{ 
	color: #52caed;
	padding-left: 26px;
	float: right;
	width: 48px;
}
.c4_1_r{
	float: left;
	margin-left: 40px;
	width: 662px;
	height: 287px;
}
.c4_1_r ul li{
	float: left;
	width: 200px;
	height: 289px;
	margin-right: 20px;
	position: relative;
}
.c4_1_r .bottom{
	position: absolute;
	bottom: 0;
	width: 200px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	color: #437883;
	background: #fff;
	opacity: .8;
	filter:alpha(opacity=80);
}
/*c4_end*/
/*c5_beign*/
.c5{
	background: url(../img/c_bg.png) repeat;
}
.c5_1{
	width: 960px;
	margin: 0 auto;
	height: 533px;
	background: url(../img/c51_bg.jpg) repeat;
	padding-top: 122px;
}
.c5_1_1{
	overflow: hidden;
	zoom:1;
}
.c5_1_1_l{
	width: 590px;
	height: 220px;
	margin-left: 61px;
	margin-top: 13px;
	float: left;
}
.c5_1_1_r{
	float: left;
	margin-left: 38px;
	margin-top: 50px;
}
.c5_1_1_r p{
	color: #628798;
	font-size: 12px;
	line-height: 24px;
	width: 242px;
}
.c5_1_1_r .arrow_r{
	margin-top: 10px;
}
.c5_2_1{
	margin-top: 32px;
}
.c5_2_1_l{
	width: 300px;
	height: 245px;
	margin-left: 61px;
	float: left;
}
.c5_2_1_r{
	float: left;
	width: 254px;
	margin-top:188px;
}
/*c5_end*/
/*c6_end*/
.c6{
	background: url(../img/c_bg.png) repeat;
}
.c6_1{
	width: 960px;
	margin: 0 auto;
	padding-bottom: 10px;
}
.c6_1_l{
	width: 542px;
	height: 260px;
	float: left;
	margin-left: 40px;
	margin-right: 20px;
}
.c6_1_r{
	float: left;
}
.c6_1:after{
	clear:both;
	content: ".";
	visibility: hidden;
	display: block;
	height: 1px;
}
.c6_1_l h3{
	background: url(../img/h1_bg.jpg) 0 -265px no-repeat;
	width: 175px;
	height: 60px;
	margin-top: 17px;
}
.c6_1_l p{
	color: #628798;
	line-height: 24px;
}
.c6_1_l a{
	font-size: 14px;
	color: #52caed;
}
.c6_1_r ul li{
	background: url(../img/list_bg.jpg) no-repeat;
	width: 310px;
	height: 109px;
	padding-top: 17px;
	padding-left: 15px;
}
/*c6_end*/
.bdot{
	background: url(../img/dot.png) center bottom repeat-x;
}
.tdot{
	background: url(../img/dot.png) center top repeat-x;
}
.fr{
	float: right;

}
.arrow_r{
	background: url(../img/icon2.png) 0 0px no-repeat;
	display: inline-block;
	width: 24px;
	height: 24px;
}
